/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    user-select: text;
    text-decoration: none;
    overflow: visible;
}

#bg1 {
    visibility: hidden;
    opacity: 20%;
    background-color: aquamarine;
    width: 10px;
    z-index: 2;
}

#bg2 {
    visibility: hidden;
    opacity: 10%;
    width: 40%;
}

.container-fluid {
    position: fixed;
    top: 0%;
    z-index: 100;
}

.hNav {
    margin: 0% auto;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80%;
}

.fs-3 {
    position: absolute;
    left: 10%;
}

.btHome {

    left: 6%;
    position: absolute;
    background-color: aqua;
}

.cardImg1 {
    
    opacity: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.cardImg2 {
    
    opacity: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.bi {
    vertical-align: -.125em;

}

.me-2 {
    margin-right: .5rem !important;
}

#bg1 {
    visibility: hidden;
    opacity: 20%;
    background-color: aquamarine;
    width: 10px;
    z-index: 2;
}

#bg2 {
    visibility: hidden;
    opacity: 10%;
    width: 40%;
}