/* ========= Imports ===========  */
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


/* ========= Página de Início ===========  */

* {
    box-sizing: border-box;
    user-select: text;
    text-decoration: none;
    overflow: hidden;
}

.inicio {
    display: flex;
    justify-content: center;
    margin: 0;

}

.inicio .bg-fundo-inicio {
    border: none;
    min-width: 100vw;
    min-height: 100vh;
    opacity: 0.3;
    position: relative;

}

.inicio .pagina-inicial {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 2000px;
}

.incio .pagina-inicial .box-calctext-inicio {
    position: absolute;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 22%;
    margin-bottom: 5%;

    width: 700px;
    height: 500px;


}

.box-calctext-inicio .t1 {
    color: #f8f9fa;
    justify-content: center;
    display: flex;
    font-size: 140px;
    position: relative;
    font-family: 'Teko', sans-serif;
    text-shadow: 3px 2px 10px rgba(0, 0, 0, 170);
    margin-left: 18%;
    height: 150px;

}

.box-calctext-inicio .t2 {
    color: #198754;
}

.box-calctext-inicio .blockquote-inicio {
    text-align: center;
    position: relative;
    margin-left: 18%;
    z-index: 3;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 120);

}

.inicio .box-buttons-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f8f9fa;
    position: relative;
    z-index: 2;
    margin-top: 10%;
    margin-left: 20%;
    gap: 8px;
    width: 70%;
    height: 8vh;
}

.box-buttons-inicio .a-buttons {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #f8f9fa;
    width: 360px;
    height: vh;
    text-decoration: none;
}

.a-buttons .btn {
    height: 8vh;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
}

/* =========== Página Calc  ===========  */

.calc {
    display: flex;
    justify-content: center;
    max-width: 1950px;
    max-height: 100vh;

}

.bg-fundo-calc {
    z-index: 0;
    border: none;
    border-image-repeat: none;
    min-width: 100vw;
    min-height: 100vh;
    opacity: 0.5;

}

.gif-1 {
    right: 0%;
    animation: slide-right linear infinite 50s;
    opacity: 0.2;
}

.gif-2 {
    animation: slide-left linear infinite 55s;
    opacity: 0.2;
}

.header-geral {
    position: fixed;
    top: 0%;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
    width: 100%;
    max-width: 2000px;
}

.header-geral .navegação-header {
    margin: 0% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 0px 3px rgba(15, 15, 15, 0.829);
    width: 80%;

}

.navegação-header .nome-calcmedia-header {
    text-shadow: 0px 0px 3px rgba(15, 15, 15, 0.829);
    font-family: 'Teko', sans-serif;
    margin-top: 4%;
}

.navegação-header .nav-logo-calcmedia {
    vertical-align: -.125em;
}

.navegação-header .nav-logo-calcmedia:hover {
    width: 40px;
    height: 4vh;
}

.navegação-header .me-2 {
    margin-right: .5rem !important;
}

.lista-navegação .nav-item .nav-link {
    color: #ffffff;

}

.lista-navegação .nav-item .calcule {
    color: #198754;

}

.lista-navegação .nav-item .nav-link:hover {
    color: #198754;

}


.calc .principal-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1300px;
    max-width: 1800px;
    height: 100vh;
    z-index: 200;

}

.calc .principal-container .box-nome-escola-enviar {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 500px;
    height: 55vh;
    z-index: 110;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
}

.box-nome-escola-enviar .textos-geral {
    height: 18vh;

}

.textos-geral .textos-calcmedia-mark {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blockquote-calc {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}

.form-nome-escola {
    margin-top: 8%;
    z-index: 2;
}

.form-nome-escola .go-calc {
    margin-top: 6%;
}

.calc .principal-container .tabela-de-notas-calc {
    margin-top: 5%;
    width: 1800px;
    height: 75vh;
    background-color: white;
    visibility: hidden;

}

.calc .principal-container .tabela-de-notas-calc .ola-nome-escola-tabela {
    width: 100%;
    height: 5vh;
    background-color: rgb(121, 121, 121);
    position: relative;
    justify-content: start;
    align-items: center;
    display: flex;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.555);
    border-radius: 2px;
}

.calc .principal-container .tabela-de-notas-calc .ola-nome-escola-tabela .texto-boas-vindas {
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.555);
}


.calc .principal-container .tabela-de-notas-calc .table {
    width: 100%;
    height: 58vh;
    position: relative;

}

.calc .principal-container .tabela-de-notas-calc .table .mediaFinal {
    color: crimson;
    font-weight: bold;
}

.calc .principal-container .tabela-de-notas-calc .table .row-1 {
    border-radius: 5px;
    height: 4vh;
    border: solid 1px;

}

.calc .principal-container .tabela-de-notas-calc .table .row-1:hover {
    border-color: #3d6300;
    background-color: #13ba4a;
}

.calc .principal-container .tabela-de-notas-calc .botoes-reset-calc {
    background-color: rgb(121, 121, 121);
    height: 7.5vh;
    margin: 0px;
    position: relative;
    align-items: center;

}

.tabela-de-notas-calc .botoes-reset-calc .botao-restore,
.botao-calc {
    height: 5vh;
    width: 200px;
}
.botao-restore{
    color: red;
}



/*======== All animations ====== */

@keyframes slide-left {
    0% {
        left: 0%;

    }

    90% {
        left: 99%;
    }

    100% {
        left: 1%;
    }
}

@keyframes slide-right {
    0% {
        right: 0%;

    }

    90% {
        right: 99%;
    }

    100% {
        right: 1%;
    }
}

/*======== Media Queries =======*/
/*===( Inicio 425px ) === */
@media (max-width: 425px) {
    .box-buttons-inicio {
        width: 100%;
        height: 20vh;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .a-buttons {
        width: 100%;
        margin: 0%;
    }

    .a-buttons .btn {
        width: 70%;
        font-size: 1em;
    }

    .box-calctext-inicio {
        width: 100%;
        margin: 0%;
    }

    .box-calctext-inicio .calc-texto {
        font-size: 85px;
        width: 100vw;
        height: 100px;
        text-align: center;
    }

    .blockquote {
        font-size: 0.8em;
    }
}

/*===( Calc 320px ) === */

@media (max-width: 320px) {
    .contato {
        display: none;
    }

    .principal-container .box-nome-escola-enviar {
        margin-top: 40%;
        width: 70%;
        height: 90vh;

    }
}

/*===( Calc 375px ) === */

@media (min-width: 321px)and (max-width:375px) {
    .principal-container .box-nome-escola-enviar {
        margin-top: 30%;
        width: 70%;
        height: 90vh;

    }

    .navegação-header .lista-navegação {
        padding: 0%;
        margin: 0%;
        width: 100%;
        font-size: 0.90em;
    }
}

.lista-navegação .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;

}


/*===( Calc 425px ) === */

@media (min-width:376px)and(max-width: 425px) {

    .navegação-header .lista-navegação {
        font-size: 0.90em;

    }

    .principal-container .box-nome-escola-enviar {
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 80%;
        height: 60vh;
        z-index: 110;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
    }

}

/*===( Calc 768px ) === */
@media (max-width: 768px) {
    .gif-2 {
        display: none;
    }
}